<div id="<%= dom_id dog %>">
  <p>
    <strong>Name:</strong>
    <%= dog.name %>
  </p>

  <p>
    <strong>Breed:</strong>
    <%= dog.breed %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= dog.note %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= dog.price %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= dog.service %>
  </p>

  <p>
    <strong>User:</strong>
    <%= dog.user_id %>
  </p>

</div>
