<div id="<%= dom_id commission_log %>">
  <p>
    <strong>Date:</strong>
    <%= commission_log.date %>
  </p>

  <p>
    <strong>Percentage:</strong>
    <%= commission_log.percentage %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= commission_log.price %>
  </p>

  <p>
    <strong>Calculated commission:</strong>
    <%= commission_log.calculated_commission %>
  </p>

  <p>
    <strong>Dog:</strong>
    <%= commission_log.dog_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= commission_log.user_id %>
  </p>

</div>
